[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/MaJinjie/nvim.git
[submodule ".config/zsh/scripts"]
	path = .config/zsh/scripts
	url = https://github.com/MaJinjie/zsh-scripts.git
