[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:MaJinjie/nvim.git
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = git@github.com:MaJinjie/wezterm-config.git
	branch = main
